<?xml version="1.0" ?>
<launch>

  <!-- Declaring the variables -->

  <arg name="WRENCH_CONTROL_TOPIC" default="/admittance_control/wrench_control" />
  <arg name="WRENCH_EXTERNAL_TOPIC" default="/admittance_control/transformed/external_wrench" />
  <arg name="DESIRED_EQUILIBRIUM_TOPIC" default="/admittance_control/equilibrium_desired" />

<!-- using the wooden block int the lab! 666, the number of the beast! -->
  <arg name="M_object" default="0.604" />
  <!-- Expected location of the object -->
  <arg name="Z_ceiling" default="0.70" />
  <!-- A location where the object should be brought down -->
  <arg name="Z_level" default="0.25" />


  <node name="speech_node" pkg="sound_play" type="soundplay_node.py" />

  <!-- Running the node -->

  <param name="topic_wrench_external" value="$(arg WRENCH_EXTERNAL_TOPIC)"/>
  <param name="topic_wrench_control" value="$(arg WRENCH_CONTROL_TOPIC)"/>
  <param name="topic_desired_equilibrium" value="$(arg DESIRED_EQUILIBRIUM_TOPIC)"/>
  <param name="M_object" value="$(arg M_object)"/>
  <param name="Z_ceiling" value="$(arg Z_ceiling)"/>
  <param name="Z_level" value="$(arg Z_level)"/>


  <node name="load_support_node"
  	pkg="cpr_load_support" type="cpr_load_support_node" output="screen"/>






</launch>
